* {
    padding: 0;margin: 0;
    box-sizing: border-box;
}
.group {
    width: 600px;
    border-radius: 1px solid #999; 
}

.wrapper {
    margin-left: 20px;
}

.inner-icon {
    font-size: 30px;
    margin-bottom: 30px;

}

.inner_content {
    padding-left: 30px;
    width: 30px;
    overflow: hidden;
    background-color: rgb(83, 83, 232);
}

.inner_list {
    background-color: rgb(83, 83, 232);
    width: 100px;
    list-style: none;
}

.inner_item {
    padding: 10px 0;
}

.inner-icon:active ~ .inner_content {
    width: 300px;
    transition: all 0.3s;
}
